APP_NAME="Bio-Frappe"
APP_ENV=docker
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Kolkata
APP_URL=http://localhost:8000
CENTRAL_DOMAIN=localhost

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=bio_frappe
DB_USERNAME=bio_user
DB_PASSWORD=secret

BROADCAST_CONNECTION=log
CACHE_STORE=database
DB_CACHE_CONNECTION="${DB_CONNECTION}"
QUEUE_CONNECTION=database
DB_QUEUE_CONNECTION="${DB_CONNECTION}"
SESSION_DRIVER=database
SESSION_CONNECTION=pgsql
SESSION_LIFETIME=120

FRAPPE_HR_URL=https://hrm.secumaxtech.com
FRAPPE_HR_API_KEY=
FRAPPE_HR_API_SECRET=
